fastapi
uvicorn[standard]
firebase-admin
facenet-pytorch
python-multipart
numpy<2.0.0
pillow<10.3.0
python-dotenv
scipy
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.4.0+cpu
torchvision==0.19.0+cpu

